* {
  box-sizing: border-box;
}

:root {
  --ftr-color: #fff;
  --link-color: #bfbfbf;
  --title-color: #34313d;
  --text-color: #9e9aa8;
  --btn--bg-color: #2bd0d0;
}

:focus {
  outline: 3px dashed #2bd0d0;
  outline-offset: 3px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family:"Poppins", "Arial", sans-serif;
  color: var(--text-color);
  background-color: #eff1f7;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/*
.box {
  display: flex;
  align-items: center;
} */

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 28px;
  color: var(--ftr-color);
  background-color: var(--btn--bg-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #9AE3E3;
}

.button:active {
  opacity: 0.8;
}


/* SITE-HEADER */

.site-header {
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}


.site-header__icon-link {
  display: flex;
  margin-right: 45px;
}

.icon-link__img {
  width: 120px;
  height: 32px;
}

.sitenav {
  align-items: center;
}

.site-header__sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav__link {
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.sitenav__link:hover {
  color: var(--title-color);
}

.sitenav__link:active {
  opacity: 0.8;
}

.sitenav__item {
  align-items: center;
}

.sitenav__item:nth-child(2) {
  margin-left: 29px;
  margin-right: 32px;
}

.site-header__box {
  display: flex;
  align-items: center;
  margin-left: 15px;
  white-space: nowrap;
}

.header-login {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

.header-login:hover {
  color: var(--title-color);
}

.header-login:active {
  opacity: 0.8;
}

.site-header__btn {
  width: 105px;
  margin-left: 37px;
  font-size: 15px;
  padding: 9px 24px;
}


/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
  position: relative;
}

.hero {
  padding-top: 90px;
  padding-bottom: 222px;
  background-color: #fff;
  background-image: url(../images/working_with_computer.svg);
  background-repeat: no-repeat;
  background-size: 733px 482px;
  background-position: calc(50% + 476px)  30px;
}

.hero__block {
  width: 565px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--title-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
}

.hero__link {
  width: 197px;
  padding: 14px 40px 12px;
  font-size: 20px;
  line-height: 30px;
}


/* FORM */

.form__label {
  width: 1110px;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 52px 65px;
  background-image: url(../images/form-bg.svg);
  background-repeat: no-repeat;
}

.form__input {
  width: 770px;
  padding: 14px 32px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
}

.form__button {
  width: 188px;
  border: 0;
  border-radius: 10px;
  padding: 18px 40px 16px;
  font-size: 20px;
}


/* Advanced Statistics*/
.site-statistics {
  padding-top: 204px;
  padding-bottom: 120px;
}

.site-statistics__content {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}

.site-statistics__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: var(--title-color);
}

.site-statistics__text {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

.site-statistics__list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-image: url(../images/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: 0 152px;
}

.site-statistics__item {
  width: 350px;
  padding: 77px 32px 41px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.site-statistics__item:nth-child(2) {
  margin-top: 44px;
}

.site-statistics__item:nth-child(3) {
  margin-top: 88px;
}

.site-statistics__item:not(:last-child) {
  margin-right: 30px;
}

.statistics-item__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 32px;
  top: -44px;
}

.statistics-item__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  color: var(--title-color);
}

.statistics-item__text {
  font-size: 15px;
  line-height: 26px;
  margin: 0;
}


/* ABOUT */

.site-about {
  text-align: center;
  background-image: url(../images/about-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.site-about__container {
  padding-top: 57px;
  padding-bottom: 57px;
}

.site-about__title {
  margin-top: 0;
  margin-bottom: 32px;
  color: #fff;
}

.site-about__button {
  padding: 14px 40px 12px;
  font-size: 20px;
  font-weight: 700;
}
.button {
}